@{
    var DanhSachNhanVien = XL_LUUTRU.DocDanhSachNhanVien();
    var DanhSachNhomHang = XL_LUUTRU.DocDanhSachNhomHang();
    string TenDangNhap = "";
    string MatKhau = "";
    //string LoiChao = "";
    string chuoiHTML = "";
    if (IsPost)
    {
        TenDangNhap = Request["TenDangNhap"];
        MatKhau = Request["MatKhau"];
    }
    var NhanVien = DanhSachNhanVien.FirstOrDefault(NV => NV.TenDangNhap == TenDangNhap && NV.MatKhau == MatKhau);
    var HopLe = NhanVien != null;
    if (HopLe)
    {
        NhanVien.DanhSachCacLanDangNhap.Add(DateTime.Now);
        XL_LUUTRU.GhiNhanVien(NhanVien);
        var DanhSachNhomHangDuocPhanCong = XL_NGHIEPVU.TaoDanhSachNhomHang(NhanVien,DanhSachNhomHang);
        string chuoiHTML_NhanVien = XL_THEHIEN.TaoChuoiHTMLNhanVien(NhanVien);
        string chuoiHTML_DanhSachNhomHang = XL_THEHIEN.TaoChuoiHTMLDanhSachNhomHang(DanhSachNhomHangDuocPhanCong);
        string chuoiHTML_CacLanDangNhap = XL_THEHIEN.TaoChuoiHTMLCacLanDangNhap(NhanVien.DanhSachCacLanDangNhap);
        chuoiHTML = chuoiHTML_NhanVien + chuoiHTML_DanhSachNhomHang + chuoiHTML_CacLanDangNhap;
    }
    else
    {
        chuoiHTML = XL_THEHIEN.TaoChuoiHTMLThongBaoYeuCauDangNhap();
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

</head>

<body style="font-family:Arial">
    <form method="post">
        <div class="container-fluid">
            <div>
                <input type="text" name="TenDangNhap" placeholder="Tên Đăng Nhập" required id="@TenDangNhap"> <br /><br />
                <input type="password" name="MatKhau" placeholder="Mật khẩu" required id="@MatKhau"><br /><br />
                <button class="btn btn-danger" type="submit">Đồng ý</button>
            </div>

            @Html.Raw(chuoiHTML)

        </div>
    </form>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

